#img-bg{
    background-image: url('https://i1.wp.com/i.pinimg.com/originals/01/a5/f1/01a5f1522280f3995b838e3dd7706df3.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid{
    color: white;
    background-color: rgb(3, 23, 39);
}